APP_ENV=dev
AWS_REGION=us-east-1

# RDS via .env
RDS_DSN=mysql:host=seu-endpoint-rds;port=3306;dbname=demo;charset=utf8mb4
RDS_USER=admin
RDS_PASSWORD=troque_esta_senha

# Demonstração de leitura de chaves específicas do .env
DEMO_TURMA=backend-aws
DEMO_MODULO=integracoes

# Secrets Manager
AWS_SECRET_ID=demo/minha-aplicacao

# S3
S3_BUCKET=meu-bucket-demo

# Lambda + SQS
LAMBDA_INVOKE_ARN=arn:aws:lambda:us-east-1:123456789012:function:minha-funcao
SQS_QUEUE_URL=https://sqs.us-east-1.amazonaws.com/123456789012/minha-fila-entrada
SQS_PROCESSED_QUEUE_URL=https://sqs.us-east-1.amazonaws.com/123456789012/minha-fila-processada
